<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
  
  <div id="example">
    <h1>counter: [[ number ]]</h1>
    <button v-on:click="increment">UP</button>
    <button v-on:click="decrement">DOWN</button>
  </div>

  <script>
    var example = new Vue({
    el: "#example", 
    delimiters : ["[[","]]"],
    data: {
      number: 0
    },
    methods: {
      increment: function() {
      this.number++;
    },
    decrement: function() {
      this.number--;
    }
  }
  });
  </script>
</body>
</html>